Every machine learning project begins by understanding what the data and drawing the objectives. While applying machine learning algorithms to your data set, you are understanding, building and analyzing the data as to get the end result.

Following are the steps involved in creating a well-defined ML project:

Understand and define the problem
Analyse and prepare the data
Apply the algorithms
Reduce the errors
Predict the result
To understand various machine learning algorithms let us use the Iris data set, one of the most famous datasets available.

# Problem Statement

This data set consists of the physical parameters of three species of flower â€” Versicolor, Setosa and Virginica. The numeric parameters which the dataset contains are Sepal width, Sepal length, Petal width and Petal length. In this data we will be predicting the classes of the flowers based on these parameters.The data consists of continuous numeric values which describe the dimensions of the respective features. We will be training the model based on these features.

Let us dive into building of our ML project. We will be using Python to understand and train our model. Numpy, Pandas and SciKit Learn are some of the inbuilt libraries in Python.

# import the labraries

In [6]:
import pandas as pd 
import numpy as np

# import the data

In [7]:
df= pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
df.shape

(150, 6)

# split the data to train and test data set

first we will define two variables x and y (x is the inputs and y is the output ) then we will split x and y to train and test set using the function train_test_split from sikitlearn library

In [10]:
x = df.drop(['Id','Species'], axis=1)
y = df['Species']
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x, y,test_size = 0.2, random_state = 46)

 now we are choosing our algrithms we select knn and svm the classic algprithms in ml world
    first we import them from sikitlearn library then we will use them to fit our data and trainour model

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

then we should testour model how much deos it learn the test will done by or testing data

In [14]:
from sklearn.metrics import accuracy_score
prediction2 = knn.predict(x_test)
print('Classification Report:\n', classification_report(y_test, prediction2))
accuracy = accuracy_score(prediction2, y_test)
print(accuracy)

Classification Report:
                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        12
Iris-versicolor       0.80      0.89      0.84         9
 Iris-virginica       0.88      0.78      0.82         9

       accuracy                           0.90        30
      macro avg       0.89      0.89      0.89        30
   weighted avg       0.90      0.90      0.90        30

0.9

then repeating the same process we implement support vector machine library

In [15]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(x_train, y_train)
predictions4 = svc_model.predict(x_test)
print('Classification Report:\n', classification_report(y_test, predictions4))
accuracy = accuracy_score(predictions4, y_test)
print(accuracy)

Classification Report:
                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        12
Iris-versicolor       0.89      0.89      0.89         9
 Iris-virginica       0.89      0.89      0.89         9

       accuracy                           0.93        30
      macro avg       0.93      0.93      0.93        30
   weighted avg       0.93      0.93      0.93        30

0.9333333333333333